body {
    background-image: url(img/background.jpeg);
    background-size: cover;
    background-repeat: repeat;
}

:root {
    --font-arimo: 'Arimo', sans-serif;
    --font-ibm_plex_sans: 'ibm_plex_sans', sans-serif;
}

.web_page {
    text-align: center;
    font-family: var(--font-ibm_plex_sans), sans-serif;
}

.title {
    margin-top: 160px;
    font-size: 5em;
    font-family: var(--font-arimo), sans-serif;
}

.subtitle {
    margin: 0 auto;
    color: gray;
    font-weight: lighter;
    text-align: center;
}

.question_box {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text_area {
    flex: 1; 
    width: auto;
    height: auto;
    min-height: 30px;
    height: 30px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    resize: none;
    font-size: 22px;
    overflow: hidden;
}

.text_area::placeholder {
    font-size: 22px;
    color: #999; 
}

.text_area:focus:placeholder {
    color: transparent;
}

.request_button {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: auto;
}

.request_button:hover {
    background-color: darkgray;
}

.box_for_reply_box {
    margin: 0 auto;
    margin-top: 10px;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-height: 5px;
    height: auto;
}

.reply_box {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    margin-top: -15px;
    margin-left: -10px;
    width: 95%;
    height: 3px;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    font-family: var(--font-arimo), sans-serif;
}